#about{
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/night.jpg');
}
#carousel_img{
    border-radius: 12%;
}
#content_about{
    color: #f3e718;
    font-size: 1.4rem;
}
#content_about p{
    color: #ffff;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 768px) {
    #content_about{
        width: 80%;
        text-align: center;
    }
    #carousel{
        width: 60%;
        margin: auto !important;
    }
    #content_about p{
        font-size: 1rem;
    }
    #content_about h1{
        font-size: 1.5rem;
        text-align: center;
    }
  }
 
  @media only screen and (max-width: 426px) {
    #header_blank{
      height: 15%;
    }
    #content_about p{
        padding: 0% 5%;
    }
    #content_about{
        width: auto;
    }
    #carousel{
        width: 100%;
    }
  }
