#contact{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/Forest.jpg');
}
#bg_email{
    border-radius: 10%;
    padding: 2rem;
    background-position: center center;
    background-size: cover;
    background-image: url('../../public/assets/images/contact/panel-email.png');
}
#first-block{
    margin-top:2rem;
}
#bg_email h4{
    color: #f3e718;
    text-align: center;
}
.form-block{
    padding-top: 1rem;
}
.form-control{
    width: 80%;
    margin: auto;
}
.star-form{
    color: red;
}
.label-form{
    width: 80%;
    margin-left: 2rem;
    color: #ffff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px black;
}
#col_phone_row{
    height: 100%;
}
#background{
    width: 100%;
    height: 100% !important;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-image: url('../../public/assets/images/contact/road-tree.png');
}
#email{
    width: 100%;
    height: 100%;
}

.content_contact{
    text-align: center;
    width: 50%;
    margin: auto;
}
.content_contact h5{
    color: #ffff;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1.5rem;

}

/* CSS */
.btn_contact {
  font-size: 1.4rem;
  width: 90%;
  margin: auto;
  background: linear-gradient(to bottom right, #f3e718, #f3eb52);
  border: 0;
  border-radius: 50px;
  line-height: 2.2rem;
  outline: transparent;
  padding: 0 1rem;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  text-decoration: none;
  color:white;
}
.btn_contact:hover {
    color: black;
  }
.btn_contact:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(255, 255, 255, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn_contact:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(255, 252, 252, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.form-control{
    border-radius: 50px;
}
.btn_submit{
    font-size: 1.4rem; 
    width: 60%;
    text-align: center;
}
#block-btn{
    padding: 0;
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 768px) {
    #phone_form h5{
        font-size: 1rem;
    }
    #content_icon{
        height: 0;
    }
    #email_form{
        display: flex;
        justify-content: space-around;
    }
    #col_blank{
        display: none;
    }
    #bg_email{
        width: 100%;
    }
    #div_form{
        width: 50%;
    }
    #col_phone{
        width: 50%;
    }
    #background{
        width: 80%;
    }
    .content_contact h5{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .content_contact{
        width: 70%; 
    }
    .btn_contact{
        font-size: 1rem;
        width: 70%;
        line-height: 1.5rem;
    }
    .form-block{
        padding-top: 0;
    }
    .label-form{
        font-size: 1rem;
    }
  }
 
  @media only screen and (max-width: 426px) {
    #div_form{
        display: none;
    }
    #container-contact{
        width: 100%;
        height: 60%;
        margin: auto;
    }
    #col_phone{
        width: 100%;
    }
    #background{
        width: 100%;
    }
    .btn_contact{
        margin-top: 1rem;

    }
  }