#download{
    width: 100vw; 
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/farm.png');
    background-position: bottom;
}
.btn_download{
    cursor: pointer;
    border-radius: 40px;
    width: 100%;
    height: auto;
    text-shadow: 2px 2px rgb(68, 67, 67);
    background:#ffff;
    letter-spacing: 0.05em;
    justify-content: center;
    font-size: 2rem;
    display: flex;
    text-decoration: none;
    color: #f3e718;
}
.btn_download:hover{
  color: #ffff;
  background-color:#f3e718;;
}
.btn_download:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(255, 255, 255, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn_download:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(255, 252, 252, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

@media only screen and (max-width: 768px) {
  .btn_download{
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 426px) {
}