#download{
    width: 100vw; 
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/farm.png');
    background-position: center center;
}
.btn_download{
    border-radius: 50%;
    border: 20px #ffff solid;
    background-image: linear-gradient(to bottom, #f3e718 0%, #ebe691 100%);
    width: 12rem;
    height: 12rem;
    color: #ffff;
    text-shadow: 2px 2px rgb(68, 67, 67);
    background-color: #f3e718;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    animation: xoayvong 8s linear 0s infinite;
    -webkit-animation: xoayvong 8s linear 0s infinite;
    -moz-animation: xoayvong 8s linear 0s infinite;
    -o-animation: xoayvong 8s linear 0s infinite; 
    
}
.btn_download:hover{
    color: #ffff;
    background-color: #f3e718;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong {
    from {
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
    }
    to {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }
  /* Standard syntax */ 
  @keyframes xoayvong {
    from {
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
    }
    to {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }