#home{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/night_hill.gif');
    background-position: bottom !important;
}
#header_blank{
    height: 20%;
}
.mockup_home{
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
@keyframes scale {
from {width: 40%;
    opacity: 0;
}
to {width: 95%;
opacity: 1;}
}
#mockup{
  width: 100%;
  height: auto;
  animation-name: scale;
  animation-duration: 2s ;
}
#mockup:hover{
  transform: scale(1.2);
  transition-duration: 1s;
}
#col_content_home{
  width: 45%;
}
.content_home{
    text-align: left;
}
.content_home h2{
    color: #f3e718;
}
.content_home p{
  font-family: 'Nunito';
    font-size: 1.6rem;
    color: #ffff;
}
.icon_task{
  color: #f3e718;
}
.item_home{
  font-size: 1.2rem;
  color: #ffff;
  font-family: 'Nunito', sans-serif;
}
.row_item_home{
  padding-bottom: 2rem;
}
.content_home{
    padding-left: 10%;
}

.btn_home {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
  }

  .btn_home:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  background-color: #beca17;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 4px 4px 4px 0px rgba(255,255,255,.5)
   10px 10px 22px 0px rgba(0,0,0,.2),
   7px 7px 8x 0px rgba(0,0,0,.2);
  transition: all 0.3s ease;
  }
  
  .btn_home:hover {
    color: #000;
  }
  .btn_home:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn_home:active {
    top: 2px;
  }
  .custom-btn {
    font-size: 1.2rem !important;
    width: 80% !important;
    border-radius: 50px !important; 
    height: fit-content;
    color: #fff;
    font-weight: 300;
    padding: 2px 0px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     8px 8px 20px 0px rgba(0,0,0,.1),
     5px 5px 6px 0px rgba(0,0,0,.1);
    outline: none;
  }

  @media only screen and (max-width: 768px) {
    #content_home p{
      font-size: 1rem;
      color: #ffff;
    }
    .content_home{
      padding: 0% 5%;
  }
    #mockup{
      width: 70%;
    }
    .custom-btn {
      font-size: 1rem !important;
    }
   
  }
   
  @media only screen and (max-width: 426px) {
    #header_blank{
      height: 15%;
    }
    .custom-btn {
      font-size: 1rem !important;
      width: 80% !important;
      font-weight: 200;
      padding: 2px 0px;
    }
    #mockup{
      padding-top: 1rem;
      width: 85%;
    }
  }
  