#tutorial{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/Sky.jpg');
    background-position: bottom;

}
#banner_video{
    height: 40%;
    width: 90%;
    margin: auto;
}
#container_carousel{
    height: 40%;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}
#content_video p{
    margin: auto;
    width: 80%;
    font-size: 1.2rem;
    color: rgba(0,0,0,.8);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
#content_video h1{
    text-align: center;
    margin: auto;
    width: 80%;
    color: #f3e718;
    text-shadow: 2px 0px rgba(0,0,0,.8);
} 
#tuto_blank{
    height: 10%;
}


@media only screen and (max-width: 768px) {
    #content_video p{
        font-size: 1rem;
    }
   
  }
   
  @media only screen and (max-width: 426px) {
    #tuto_blank{
        height: 0%;
    }
  }
  