#tutorial{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../public/assets/images/background/Sky.jpg');
    background-position: bottom;

}
#banner_video{
    height: 40%;
    width: 90%;
    margin: auto;
}
#container_carousel{
    height: 40%;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}
#video{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #f0ecec;
}
#content_video p{
    font-size: 1.2rem;
    color: rgba(0,0,0,.8);
    font-family: 'Nunito', sans-serif;
}
#content_video h1{
    color: #f3e718;
    text-shadow: 2px 0px rgba(0,0,0,.8);
} 