body {
  margin: 0;
  font-family: 'Coiny', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

html{
  margin: 0;
  padding: 0;
  max-width: 100vw;
    height: 100%;
    width: 100vw;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
#root{
  height: 100vh !important;
}
#header_blank{
  height: 20%;
}

@media only screen and (max-width: 768px) {
  #content_video p{
      font-size: 1rem;
  }
 
}
 